/* this main style*/
/*media query width */
/*this display*/
/*general style*/
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

section {
  margin: 1em 0;
}

input[type=search] {
  padding: 0rem 0.75rem !important;
  border-radius: 0rem;
  color: #000000;
  display: block !important;
  width: calc(100% !important);
}

/*navbar*/
.search-icon {
  position: absolute;
  right: 6%;
  color: #CA252B;
}
@media screen and (min-width: 992px) {
  .search-icon {
    position: absolute;
    right: 3%;
  }
}

.title h4 {
  color: #CA252B;
  text-transform: uppercase;
}

/*top slider news*/
#news .main-news {
  display: block;
  width: calc(33%);
  position: relative;
  margin-left: -3px;
  float: right;
}
#news .main-news img {
  height: calc(8em);
  width: calc(100%);
}
#news .main-news i {
  position: absolute;
  bottom: 35%;
  left: 3%;
  z-index: 999;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
#news .main-news span {
  display: inline !important;
  position: absolute;
  bottom: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  height: calc(auto);
  width: calc(100%);
  padding: 0.5em;
}
#news .main-news:first-of-type {
  float: left;
  display: block;
  position: relative;
  width: calc(66%);
}
#news .main-news:first-of-type img {
  height: calc(16em);
  width: calc(100%);
}
#news .main-news:first-of-type i {
  position: absolute;
  bottom: 20%;
  left: 3%;
  z-index: 999;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
#news .main-news:first-of-type span {
  display: inline !important;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0%;
  left: 0%;
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  height: calc(auto);
  width: calc(100%);
  padding: 0.5em;
}

/*news egypt section*/
#egypt-news #new {
  border-top: 2px solid #222;
}
#egypt-news #new #owl-demo .item img {
  height: calc(12em);
  width: calc(100%);
  padding: 18px 4px;
  width: 100%;
  color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-align: center;
}
#egypt-news #new #owl-demo .item span {
  position: absolute;
  top: 70%;
  left: 2%;
  width: calc(97%);
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
#egypt-news #new #owl-demo .owl-next {
  position: absolute;
  right: 0.2%;
  bottom: 40%;
}
#egypt-news #new #owl-demo .owl-next i {
  height: calc(2em);
  width: calc(1.5em);
  border-radius: 50% 0 0 50%;
  -webkit-border-radius: 50% 0 0 50%;
  -moz-border-radius: 50% 0 0 50%;
  padding-left: 0.5em;
  line-height: 2em;
  background: #CA252B;
  color: #ffffff;
}
#egypt-news #new #owl-demo .owl-prev {
  position: absolute;
  bottom: 40%;
  left: 0.4%;
}
#egypt-news #new #owl-demo .owl-prev i {
  height: calc(2em);
  width: calc(1.5em);
  border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
  -moz-border-radius: 0 50% 50% 0;
  padding-right: 0.5em;
  line-height: 2em;
  background: #CA252B;
  color: #ffffff;
}

/*feature*/
#features {
  border-top: 2px solid #222;
  border-top: 2px solid #222;
}

.feature img {
  height: calc(15em);
  width: calc(100%);
  margin-bottom: 1em;
}
@media screen and (min-width: 575px) {
  .feature img {
    margin: 1em 0;
  }
}

/*top 5 news*/
#top-five {
  border-top: 2px solid #222;
}
#top-five ul li {
  padding: 0.5em;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  /*this part border*/
}
#top-five ul li:last-of-type {
  border-bottom: 1px solid #CCCCCC;
}
#top-five ul li span {
  background: #CA252B;
  color: #ffffff;
  padding: 0em 0.5em;
}

/*# sourceMappingURL=style.css.map */
